* {
    transition: all ease-out 1s;

}

.card-hover:hover {
    box-shadow: 5px 5px 20px gray;
    transform: scale(1.1);
}

.row {
    display: flex;
    align-items: center;  
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;  
}
